.pokemon-name,
.pokemon-type,
.error,
.loading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
}

.pokemon-container {
  display: grid;
  padding: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.pokemon-sprite {
  width: 200px;
}

.loading {
  display: block;
}

.error {
  background-color: #a98ff3;
  color: #000000;
  border-radius: 12px;
  padding: 20px;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
